:root {
  --primary-font: "Courier New", Courier, monospace;
  --main-color: #f65282;
  --light-supporting-color: rgba(254, 181, 200);
  --box-shadow: rgba(246, 82, 129, 0.08);
}
/* general */
nav {
  background-color: white;
}

nav .navbar-brand {
  border: 1px solid black;
  padding: 4px;
}

body {
  font-family: "Courier New", Courier, monospace;
  margin: 60px auto 0;
}

.content h1 {
  color: var(--main-color);
  font-size: 72px;
  margin: 0 auto;
}

.content h2 {
  margin: 0 auto;
}

.content .button a {
  border-radius: 4px;
  padding: 20px 18px;
  text-decoration: none;
  text-transform: capitalize;
}

.content .btn-main-style {
  background: var(--main-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.content .btn-main-style:hover {
  color: var(--light-supporting-color);
  transition: all 200ms ease-in-out;
}

.content .btn-secondary-style {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

.content .btn-secondary-style:hover {
  color: var(--light-supporting-color);
  transition: all 200ms ease-in-out;
}

/* about */
.content-container-about {
  position: relative;
  top: 25px;
  bottom: -12px;
}

.content .profile-img {
  align-items: baseline;
  max-height: 540px;
  border-radius: 20px;
}

.content .email-link {
  color: var(--main-color);
  text-decoration: none;
}

.content .email-link:hover {
  color: var(--light-supporting-color);
  transition: all 200ms ease-in-out;
}

/* index */

.content .introduction {
  background-color: #fff1f5;
  padding: 15px 0;
  text-align: center;
}

.content .introduction .button {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.content .introduction .button a {
  margin: 20px;
}

.content .featured-projs h2 {
  color: var(--main-color);
}
.content .featured-projs h4 {
  margin: 24px auto 18px;
  text-align: center;
}

/* footer */
footer {
  line-height: 1.8;
  text-align: center;
  margin: 48px auto 12px;
}

footer i {
  font-size: 20px;
  padding: 0 10px;
}
footer a {
  color: #f65282;
  text-decoration: none;
}

footer a:hover {
  color: #ffc4c0;
  transition: all 200ms ease-in-out;
}

/* media responsive CSS */
@media (max-width: 768px) {
  .about-sm {
    text-align: center;
  }
  .about-sm h1 {
    font-size: 58px;
  }

  .about-sm img {
    margin: 10px auto;
    width: 75%;
  }

  footer {
    margin: 21px auto 0;
    text-align: center;
  }
  footer i {
    font-size: 18px;
  }
  .mobile-responsive {
    text-align: center;
  }
}
