:root {
  --main-color: #f65282;
  --light-supporting-color: rgba(254, 181, 200);
  --box-shadow: rgba(246, 82, 129, 0.08);
}

.index-body {
  font-family: "Courier New", Courier, monospace;
  margin: 60px auto;
  text-align: center;
}

h1 {
  color: var(--main-color);
  font-size: 72px;
  margin: 0 auto;
}

.index-job {
  color: var(--light-supporting-color);
  margin: 0 auto;
}

.navigation-links {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 18px;
  text-decoration: none;
  text-transform: capitalize;
}

.btn-main-style {
  background: var(--main-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.btn-main-style:hover {
  color: var(--light-supporting-color);
  transition: all 200ms ease-in-out;
}

.btn-secondary-style {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

.btn-secondary-style:hover {
  color: var(--light-supporting-color);
  transition: all 200ms ease-in-out;
}

.btn-project-style {
  background: var(--main-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.btn-project-style:hover {
  color: black;
  transition: all 200ms ease-in-out;
}

.email-link {
  color: var(--main-color);
  margin: 50px auto;
  text-decoration: none;
}

.email-link:hover {
  color: var(--light-supporting-color);
  text-decoration: underline;
  transition: all 200ms ease-in-out;
}

.footer a {
  color: #f65282;
  text-decoration: none;
}

.footer a:hover {
  color: #ffc4c0;
  transition: all 200ms ease-in-out;
}
.image-about {
  width: 90%;
}

@media (max-width: 768px) {
  .index-project-sm {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .about-me-sm {
    font-size: 58px;
  }
}

/* about page */

.about-body {
  font-family: "Courier New", Courier, monospace;
  margin: 60px auto;
}

.about-me {
  position: relative;
  top: 25px;
}

.about-me h2 {
  margin: 0 auto;
}

.profile-img {
  max-height: 600px;
  border-radius: 20px;
}
.about-project-link {
  margin-top: 40px;
}
.about-project-link a {
  margin: 20px auto;
  border-radius: 4px;
  padding: 20px 18px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-me {
  margin: 30px auto 0;
}
